@import url(Scancardium.woff2);

@font-face {
  font-family: Scancardium;
  src: url(Scancardium.woff2);
}

@font-face {
  font-family: 'Scancardium';
  src:  url('Scancardium.woff2') format('woff2'),
        url('Scancardium.woff')  format('woff');
}
